page-about {
    .colorRed{
        color :red !important;
    }
    .colorgreen{
        color: greenyellow !important;
    }
    .button{
        margin-top: 5%;
        padding: 28px;
        font-size: x-large;
        font-weight: bold;
    }
}
