.navbarLogo{
    height: 40px;
    float:left;
    margin-left:10px;
}
page-home {
.blue{
    color:#006699;
}
.button{
    margin-top: 5%;
    padding: 28px;
    font-size: x-large;
    font-weight: bold;
}
#udpateBox{
    textarea{
        width:100%;
    }
}
.item-inner{
    margin-left: 2px !important;
}
}
